[submodule "sample-project"]
	path = sample-project
	url = https://github.com/tmehersairam/sample-spring-mvc-with-thymeleaf.git
[submodule "sample-spring-external"]
	path = sample-spring-external
	url = https://github.com/tmehersairam/QR-Code-WebService.git
[submodule "springboot-docker-demo"]
	path = springboot-docker-demo
	url = http://github.com/tmehersairam/springboot-docker-demo.git
